__pycache__/app.cpython-313.pyc
__pycache__/app.cpython-39.pyc
app.py
build/SOPtima/Analysis-00.toc
build/SOPtima/base_library.zip
build/SOPtima/EXE-00.toc
build/SOPtima/localpycs/pyimod01_archive.pyc
build/SOPtima/localpycs/pyimod02_importers.pyc
build/SOPtima/localpycs/pyimod03_ctypes.pyc
build/SOPtima/localpycs/pyimod04_pywin32.pyc
build/SOPtima/localpycs/struct.pyc
build/SOPtima/PKG-00.toc
build/SOPtima/PYZ-00.pyz
build/SOPtima/PYZ-00.toc
build/SOPtima/SOPtima.pkg
build/SOPtima/warn-SOPtima.txt
build/SOPtima/xref-SOPtima.html
build_windows.ps1
dist/SOPtima.exe
exe-start-error.log
exe-start.log
SOPtima.spec
start_soptima.py
tests/__pycache__/test_app.cpython-39-pytest-8.4.2.pyc
tests/test_app.py
